p,h1,h2,h3,h4,h5,h6{margin: 0}

.btn01{
	display: inline-block;
	font-size: 20px;
	line-height: 1;
	padding: 9px 20px;
	font-weight: bold;
	text-align: center;
	background-color: rgba(239, 198, 48, 0.00);
	color: #222220;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
	border: 3px solid #efc630;
}

.btn01:hover{
	background-color: rgba(239, 198, 48, 1.00);
	color: white;
	text-decoration: none;
}

.clear:before{
	content: "";
	display: block;
	clear: both;
}

.logo .st1{fill:#6077b3;}
.logo .st2{fill:#efc630;}
.logo .st3{fill:currentColor;}

body{
	position: absolute;
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	overflow: auto;
	margin: 0;
	font-family: 'Muller';
	padding-top: 63px;
	padding-bottom: 102px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper{
	background-size: cover;
	background-position: center;
}
.wrapper:after{
	content: "";
	display: block;
	clear: both;
}

.wrapper>div{
	width: 960px;
	max-width: 96%;
	max-height: 100%;
	margin: 0 auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
}

.wrapper>div>div>h2{
	display: inline-block;
	clear: both;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 24px;
	color: #222220;
	text-transform: uppercase;
	margin-top: 30px;
	padding: 16px 28px;
	background-color: #efc630;
}

header{
	position: fixed;
	top: 0;
	width: 100%;
	overflow: auto;
	height: 64px;
	background: white;
	font-weight: 100;
	z-index: 50;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
}

header>div{
	min-width: 960px;
}

.mainlogo{
	float: left;
	border: none;
	outline: none;
	margin: 9px 11px 5px 0;
	color: #222220
}

.mainlogo img{
	height: 42px;
}

.mainmenu{
	float: left;
	width: 54%;
	font-size: 16px;
	margin: 0 1%;
}

.mainmenu>a{
	display: inline-block;
	color: #222220;
	width: 24.4%;
	line-height: 63px;
	text-align: center;
	vertical-align: top;
	transition: color 0.3s;
}

.mainmenu>a>span{
	border-bottom: 1px solid;
}

header .phone{
	font-size: 16px;
    color: #222220;
    line-height: 63px;
    float: right;
	transition: color 0.3s;
}

#start{
	background: white;
	color: #222220;
	text-align: center;
	border: 40px solid #6077b3;
	outline : 30px solid #efc630;
	margin: 30px;
	padding: 30px 15px;
}

#start h1{
	position: relative;
	font-size: 54px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 30px;
}

#start h1>.vertical{
	position: absolute;
	padding: 5px 10px 3px;
	text-align: center;
    font-size: 16px;
	line-height: 1;
	background: #efc630;
	top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

#start p.txt01{
	font-size: 32px;
	margin-bottom: 45px;
}
#start p.txt02{
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 64px;
}

#about{
	padding-bottom: 60px;
}

#about h2{
	background-color: #6077b3;
	color: white;
}

#about p{
	position: relative;
	float: left;
	width: 33%;
	min-height: 72px;
	font-size: 18px;
	color: #222220;
	box-sizing: border-box;
	padding-left: 28px;
	padding-right: 28px;
}

#about p:after{
	content: "";
	display: block;
	width: 11px;
	height: 62px;
	position: absolute;
	left: 0;
	top: 0;
	background: #efc630;
}

#speakers{
	
}

speaker{
	position: relative;
	float: left;
	width: 25%;
	margin-top: 45px;
	text-align: center;
	box-sizing: border-box;
    padding: 0 15px;
    letter-spacing: -0.16px;
	line-height: 15px;
}

speaker img{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: 1s;
}

speaker:hover img{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

speaker h5{
	color: #3E3E3D;
	font-weight: normal;
	font-size: 16px;
	margin: 10px 0;
}

speaker p{
	color: #3E3E3D;
	font-weight: normal;
	font-size: 14px;
}

#speakers2 speaker{
	width: 33%;
    padding: 0 calc(16.5% - 105px);
	height: 280px;
}
#speakers2 speaker:before{
	width: 60%;
	left: 20%;
}

#data{
	
}

#data .info{
	position: relative;
	width: 50%;
	float: left;
	margin-bottom: 20px;
	font-size: 22px;
	padding-left: 13%;
	color: #222220;
}

#data .info label{
	position: absolute;
	left: 0;
	width: 18%;
	color: #6077b3;
	text-align: right;
	font-weight: normal;
}

#registration{
	position: relative;
	margin-bottom: 30px;
}

#registration h2{
	background-color: #6077b3;
	color: white;
}

#registration .payment{
	float: left;
	padding-left: 6%;
	width: 33.33%;
}

#registration .payment label{
	display: block;
	font-size: 59px;
	font-weight: bold;
	color: #222220;
}

#registration .payment span{
	color: #6077b3
}

#registration .btn01{
	margin-top: 65px;
}

#map{
	padding-top: 35px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
	height: 118px;
	background-color: #3E3E3D;
	padding: 25px 0;
	color: white;
}

footer a{
	line-height: 42px;
	color: white;
}

a{
	transition: color 0.3s;
}

a:hover, a:focus{
	color: #efc630;
	text-decoration: none;
}

.radio-inline input[type="radio"]{
	margin-top: 0;
}

.radio-inline + .radio-inline:before{
	content: '/ ';
	display: inline-block;
	position: absolute;
	right: 100%;
	padding-right: 3px;
}

@media (max-width: 1000px){
	body{
		padding-top: 0;
	}
	body header{
		position: relative;
	}
	body .wrapper{
		margin-top: 0;
		padding-top: 0;
	}
}